<app-shoesNav></app-shoesNav>
<ng-container >
 <ul class="list-group list-group-flush" (ngModel)="sh" >
      <li class="list-group-item" name="id">ID:{{sh.id}}</li> 
      <li class="list-group-item"  name="name">Name:{{sh.name}}</li>
      <li class="list-group-item"  name="weightKg">WeightKg:{{sh.weightKg}}</li>
      <li class="list-group-item" name="color">Color:{{sh.color}}</li>
      <li class="list-group-item" name="quantity" >Quantity:{{sh.quantity}}</li>
  </ul>

</ng-container>
 

 
 
