#createUserForm {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
  #editUserForm {
    display:none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
  #searchUserForm {
    display:none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
  #acc {
    display:none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }

  